GEMINI_API_KEY=
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB5cGZsdGhneXNjempicXpxc2txIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4OTkzNjEsImV4cCI6MjEwNTQ3NTM2MX0.G25ZLiSGgYGWPUp2yBX52aRQSzbe0Acdk8A57s2nnBw
VITE_SUPABASE_URL=https://pypflthgysczjbqzqskq.supabase.compounding
